---
copr_instance: dev
copr_instance_tag: devel
copr_zone: us-east-1c

backend:
  name: copr-backend
  old_instance_id: i-068797506af611303
  new_instance_id: i-0f5361014af0b54b5
  image: f43
  # this is volume `data-copr-upgrade-time-{{ copr_instance }}` that is used as
  # a temporary data volume until the newly installed backend is ready to
  # consume real data volume.
  temp_volume: vol-03ea76b80451f0e07
  old_network_id: eni-010ab7703f7af75bc
  new_network_id: eni-0f331dab189e8b789
  instance_type: t3a.medium
  root_volume_size: 30
  temp_floating_ip: 52.206.156.120
  elastic_ip: 18.208.10.131
  security_group: copr-backend-sg
  ipv6: 2600:1f18:8ee:ae00:6c8c:e094:1c5b:c2f9

  volumes:
    sdd: vol-0860700f1b82314b5
    sde: vol-00ee3a18d4b88bd2d
    sdf: vol-01d7d16e5e447b3c4
    sdg: vol-0ea433a88aef9c644
    sdh: vol-0038e042c49987b82
    sdi: vol-0ce8220e998e2e32a

frontend:
  name: copr-frontend
  image: f43
  old_instance_id: i-026577ea6040bb3bc
  new_instance_id: i-09821839318bb613e
  instance_type: t3a.medium
  security_group: copr-frontend-sg
  root_volume_size: 50
  old_network_id: eni-0221193bb1de72bf4
  new_network_id: eni-0a748dcf0de997867
  elastic_ip: 18.208.24.211
  ipv6: 2600:1f18:8ee:ae00:66a:fd15:3f16:4092

  stop_services:
    before_backup:
      - fm-consumer@copr_messaging
      - httpd
      - crond
    after_backup:
      - postgresql

  data_volumes:
    - id: vol-03b78541e43c23021
      mount_points:
        - /var/lib/pgsql
        - /srv/copr-fe

distgit:
  name: copr-distgit
  image: f43
  old_instance_id: i-06eb5d2deedf424a8
  new_instance_id: i-08746385296fd3379
  instance_type: r5a.large
  security_group: copr-distgit-sg
  root_volume_size: 80
  old_network_id: eni-074eb40d788b3ee44
  new_network_id: eni-024f2faf8bdd0f7fd
  elastic_ip: 54.243.51.13
  ipv6: 2600:1f18:8ee:ae00:691b:4103:dbcd:a64a

  stop_services:
    before_backup:
      - copr-dist-git
      - httpd
      - crond

  data_volumes:
    - id: vol-0bc5f6904b9da0972
      mount_points:
        - /var/lib/dist-git

keygen:
  name: copr-keygen
  image: f43
  old_instance_id: i-0a942b03ae0443cbd
  new_instance_id: i-0cc77a18c58f6a603
  instance_type: t3a.small
  security_group: copr-keygen-sg
  root_volume_size: 20
  old_network_id: eni-073a2016846376f51
  new_network_id: eni-00318660644cc65f3
  elastic_ip: 54.225.23.248
  ipv6: 2600:1f18:8ee:ae00:3cbb:7920:d83:e607

  stop_services:
    before_backup:
      - httpd
      - signd

  data_volumes:
    - id: vol-0383a1433fc96211d
      mount_points:
        - /var/lib/copr-keygen
