---
copr_instance: prod
copr_instance_tag: production
copr_zone: us-east-1c

backend:
  name: copr-backend
  old_instance_id: i-05873f4014e988b22
  new_instance_id: i-05a9acde1fb362465
  image: f43
  # this is volume `data-copr-upgrade-time-{{ copr_instance }}` that is used as
  # a temporary data volume until the newly installed backend is ready to
  # consume real data volume.
  temp_volume: vol-05282c573e57fdbe5
  old_network_id: eni-0ac65da959c71829f
  new_network_id: eni-0d7fb113f7b7b76f1
  instance_type: m5a.4xlarge
  root_volume_size: 160
  temp_floating_ip: 54.174.37.189
  elastic_ip: 52.44.175.77
  security_group: copr-backend-sg
  ipv6: 2600:1f18:8ee:ae00:d553:8ed5:d8b6:9f83

  volumes:
    sdd: vol-017b9ff832cb0fd97
    sde: vol-0e809c6ef1c11f2c9
    sdf: vol-0188cd4fedb1e7c78
    sdg: vol-025a19c2330fca7cd
    sdh: vol-0f226a7163d28d8fd
    sdi: vol-07293869d85a750b8

frontend:
  name: copr-frontend
  image: f43
  old_instance_id: i-0b5cfa0628d58cd5c
  new_instance_id: i-0af9f17142fdbf581
  instance_type: t3a.2xlarge
  security_group: copr-frontend-sg
  root_volume_size: 80
  old_network_id: eni-063ec17815e2f46bd
  new_network_id: eni-0313baffd6a56cb95
  elastic_ip: 3.225.109.36
  ipv6: 2600:1f18:8ee:ae00:9d1f:4737:93ce:6db

  stop_services:
    before_backup:
      - fm-consumer@copr_messaging
      - httpd
      - crond
    after_backup:
      - postgresql

  data_volumes:
    - id: vol-01bacc69a206b498d
      mount_points:
        - /var/lib/pgsql
        - /srv/copr-fe

distgit:
  name: copr-distgit
  image: f43
  old_instance_id: i-0a8176621ca3a0c67
  new_instance_id: i-0174850344a7535a0
  instance_type: r7a.xlarge
  security_group: copr-distgit-sg
  root_volume_size: 80
  old_network_id: eni-058190b787f5da851
  new_network_id: eni-0ce7fe2d97e848208
  elastic_ip: 52.72.114.126
  ipv6: 2600:1f18:8ee:ae00:41cc:53dc:b87b:2d8c

  stop_services:
    before_backup:
      - copr-dist-git
      - httpd
      - crond

  data_volumes:
    - id: vol-09dd80709532958a8
      mount_points:
        - /var/lib/dist-git

keygen:
  name: copr-keygen
  image: f43
  old_instance_id: i-0856694ac4bc7545b
  new_instance_id: i-0d17baa8b1e6f2ac8
  instance_type: c7a.xlarge
  security_group: copr-keygen-sg
  root_volume_size: 20
  old_network_id: eni-02e1479848b4515aa
  new_network_id: eni-0c3d31c7e10133571
  elastic_ip: 54.83.48.73
  ipv6: 2600:1f18:8ee:ae00:acef:63f0:530a:cdff

  stop_services:
    before_backup:
      - httpd
      - signd

  data_volumes:
    - id: vol-0108e05e229bf7eaf
      mount_points:
        - /var/lib/copr-keygen
